body {
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.chart-box {
  max-width: 900px;
  margin: auto;
  background: #161b22;
  padding: 20px;
  border-radius: 12px;
}

#status {
  margin-top: 10px;
  color: #58a6ff;
}
.news-item {
  background: #1f1f1f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: left;
}

.news-item a {
  color: #58a6ff;
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}
